amqp
anyjson
appdirs
APScheduler
billiard
celery
coreapi
Django
django-appconf
django-codemirror2
django-colorfield
django-compressor
django-cors-headers
django-filter
django-guardian
django-imagekit
django-libsass
django-webpack-loader
djangorestframework
djangorestframework-jwt
drf-nested-routers
funcsigs
futures
geojson
gunicorn
itypes
kombu
libsass
Markdown
olefile
openapi-codec
packaging
piexif
pilkit
Pillow
pip-autoremove
psycopg2
psycopg2-binary
PyJWT
pyodm
pyparsing
pytz
rcssmin
redis
requests-toolbelt
requests
rfc3987
rjsmin
simplejson
six
strict-rfc3339
tzlocal
uritemplate
vine
webcolors
rasterio
-e git://github.com/OpenDroneMap/rio-tiler.git#egg=rio-tiler
rio-color
rio-cogeo
